body {
    margin: 0;
    line-height: normal;
    overflow-x: hidden;
  }
  
  :root {
    /* fonts */
    --b2-regular: Poppins;
    --font-port-lligat-sans: "Port Lligat Sans";
    --font-inria-serif: "Inria Serif";
  
    /* font sizes */
    --b2-regular-size: 18px;
    --body-regular-20-size: 20px;
    --font-size-base: 16px;
    --font-size-5xl: 24px;
    --font-size-lgi: 19px;
    --font-size-13xl: 32px;
    --font-size-7xl: 26px;
    --font-size-31xl: 50px;
    --h1-semibold-size: 56px;
    --font-size-26xl: 45px;
    --font-size-15xl: 34px;
    --font-size-81xl: 100px;
    --font-size-11xl: 30px;
    --font-size-29xl: 48px;
    --font-size-19xl: 38px;
    --font-size-10xl: 29px;
    --font-size-21xl: 40px;
  
    /* Colors */
    --background-color: #f3f3f3;
    --color-darkcyan-100: #009688;
    --color-darkcyan-200: rgba(0, 150, 136, 0.47);
    --white: #fff;
    --color-gray-100: #1e1e1e;
    --text-color-1: #161616;
    --color-gray-200: #0a0731;
    --color-gray-300: rgba(255, 255, 255, 0.66);
    --color-gray-400: rgba(255, 255, 255, 0.2);
    --color-gray-500: rgba(10, 7, 49, 0.39);
    --color-lavender: #deddec;
    --text-color-2: #535353;
    --blue: #090083;
    --color-navy-100: rgba(9, 0, 131, 0.05);
    --text-color-3: #65fff1;
    --color-lightseagreen: #1ab0a1;
    --teal400: #66edd9;
    --color-turquoise-100: rgba(1, 250, 227, 0.67);
    --color-darkslateblue-100: #00274d;
    --color-orangered: #ff6600;
  
    /* Gaps */
    --gap-xl: 20px;
    --gap-45xl: 64px;
    --gap-13xl: 32px;
    --gap-base: 16px;
    --gap-5xl: 24px;
    --gap-21xl: 40px;
    --gap-5xs: 8px;
    --gap-11xl: 30px;
    --gap-mini: 15px;
    --gap-41xl: 60px;
    --gap-3xs: 10px;
  
    /* Paddings */
    --padding-13xl: 32px;
    --padding-85xl: 104px;
    --padding-33xl: 52px;
    --padding-7xl: 26px;
    --padding-81xl: 100px;
    --padding-46xl: 65px;
    --padding-xl: 20px;
    --padding-47xl: 66px;
    --padding-24xl: 43px;
    --padding-sm: 14px;
    --padding-12xs-4: 0.4px;
    --padding-23xl: 42px;
    --padding-19xl: 38px;
    --padding-18xl: 37px;
    --padding-lgi: 19px;
    --padding-base: 16px;
    --padding-2xl: 21px;
    --padding-4xs: 9px;
    --padding-mini-5: 14.5px;
    --padding-23xl-5: 42.5px;
    --padding-31xl: 50px;
    --padding-9xl: 28px;
    --padding-15xl: 34px;
    --padding-3xs: 10px;
  
    /* Border radiuses */
    --br-xs: 12px;
    --br-9xs: 4px;
    --br-5xs: 8px;
  }